{% extends 'base.html' %}

{% block content %}

<div class="auth-box">

    <h2>Delete Account</h2>

    <p class="text-danger">
        This action cannot be undone.
    </p>

    {% if form.errors %}
        <div class="alert alert-danger">
            Incorrect password.
        </div>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="delete-btn">
            Delete My Account
        </button>

    </form>

</div>

<style>

    .auth-box {
        max-width: 520px;
        margin: auto;
        background: white;
        color: #111827;
        padding: 40px;
        border-radius: 22px;
        box-shadow: 0 20px 60px rgba(0,0,0,0.15);
    }

    .auth-box h2 {
        color: #111827;
        text-shadow: none;
    }

    .auth-box input {
        width: 100%;
        background: white !important;
        color: #111827 !important;
        border: 1px solid #ddd !important;
        padding: 14px !important;
        border-radius: 10px !important;
    }

    .delete-btn {
        width: 100%;
        margin-top: 20px;
        background: #ef4444;
        color: white;
        border: none;
        padding: 14px;
        border-radius: 10px;
        font-weight: 700;
    }

</style>

{% endblock %}